.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  /* width: 500px; */
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  width: 500px;
  height: 40px;
  background: white;
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.watch-button {
  padding-right: 10px;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 360px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  transition: all 1s ease-in-out;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.7;
  cursor: pointer;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc {
  opacity: 1;
}

.movie-list-item-img {
  width: 390px;
  height: 250px;
  object-fit: cover;
  transition: all 1s ease-in-out;
  border-radius: 20px;
}

.movie-list-item-title {
  color: white;
  padding: 0 10px;
  /* background-color: gray; */
  font-size: 33px;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 30px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.movie-list-item-desc {
  color: white;
  /* background-color: gray; */
  font-size: 15px;
  padding: 10px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 400px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.arrow-right {
  font-size: 120px;
  color: lightgrey;
  position: absolute;
  top: 50px;
  right: 0;
  opacity: 0.7;
}

.arrow-left {
  font-size: 120px;
  color: lightgrey;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0.7;
  z-index: 1;
}

.container.active {
  background-color: white;
}

.movie-list-title {
  color: azure;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: #fff;
  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  color: black;
  transform: translateX(-20px);
}

.preview-container {
  height: 400px;
  padding-bottom: 20px;
  position: relative;
}

.preview-img {
  height: 400px;
  object-fit: cover;
}

.preview-title {
  color: white;
  padding: 0 10px;
  font-size: 33px;
  font-style: oblique;
  font-weight: bold;
  position: absolute;
  top: 35%;
  left: 8%;
}

.preview-desc {
  color: white;
  font-size: 15px;
  padding: 10px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 8%;
  width: 600px;
}

@media only screen and (max-width: 900px) {
  .menu-container {
    display: none;
  }
}

.slideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.sliderStyles {
  position: relative;
  height: 100%;
}

.dotsContainerStyles {
  display: flex;
  justify-content: center;
}

.dotStyle {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
}

.slideStylesWidthBackground {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-image: url(${slides[currentIndex].url});
}